.center{
	text-align: center ;
}

.right{
	text-align: right ;
}

#page_option{
	text-align: center ;
}

.error{
	color : red;
}

.flash-message-success {
	color: green;
}

.flash-message-error{
	color : red;
}

body{
	background-color: #6b7b9a;	
}


.ui-overlay-b, .ui-page-theme-b, .ui-page-theme-b .ui-panel-wrapper
{

	background-color: #6b7b9a;
}

#inscriptionInscriptionForm, #loginLoginForm, .ui-link .ui-btn .ui-shadow .ui-corner-all{

	margin-left: auto;
	margin-right: auto;
	width: 75%;
}



#inscriptionInscriptionForm input,#inscriptionInscriptionForm .ui-input-text, #loginLoginForm input,  #loginLoginForm .ui-input-text{
	background-color: white;
	color:gray;
}

#comment-name {
	text-align: right ;
}


/* RADIO BUTTON */
.ui-radio .ui-btn,  .ui-radio .ui-page-theme-b .ui-btn .ui-btn-active{
	background-color: #6b7b9a;
	background-image: url("boutonselect.gif");
	background-repeat: no-repeat;
	border: none;
	background-position: left;
	padding-left: 30px;
}

.ui-radio .ui-btn{
	background-image: url("boutonselect.gif");
}

.ui-radio  .ui-btn-active{
	background-image: url("boutonselect2.gif");
}

.ui-radio .ui-btn:hover{
	background-color: #6b7b9a;
}

.ui-radio  .ui-btn.ui-btn-active{
	background-color: #6b7b9a;
}

/************************************************/